doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title dotinstall-typing-game
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    p#js-target.target
    p.info
      | Letters count:&nbsp;
      span#js-score
      | , Miss count:&nbsp;
      span#js-miss
      | , Remaining Timer:&nbsp;
      span#js-timer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
